@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Farro&display=swap');
/*

AsÃƒÂ­ se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.

*/

*{
    margin:0;
    padding:0;
}

body{
    font-family:'Roboto', sans-serif;
    font-weight:100;
    color:#ffcd00;
    background:#fff;
}

h1{
    font-family:'Farro', sans-serif;
    color:#FFFFFF; /* lo bÃƒÂ¡sico, para evitar problemas */
    color:rgba(255,255,255,0.8); /* si el navegador lo entiende, lo usa */
    text-align:center;
    letter-spacing:0.01em;
    font-weight:100;
    text-shadow: 1px 1px #fff
}
h2{
    font-family:'roboto', san ;
    color:#FFFFFF; /* lo bÃƒÂ¡sico, para evitar problemas */
    color:rgba(255,255,255,0.8); /* si el navegador lo entiende, lo usa */
    text-align:center;
    font-weight:100;
    text-shadow: 1px 1px #fff;

}

h1{
    font-size:5rem;
    color: #FC0;
}

h2{
    font-size:2rem;
    letter-spacing:0.1em;
    color: #000;
}

@media screen and (max-width: 768px){
    h1{ font-size:3rem; }
    h2{ font-size:1rem; }
    h3{ font-size:1rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:2rem; }
    h2{ font-size:0.8rem; }
    h3{ font-size:0.8rem; }
}

h3{
    width: 100%;
    margin: 2rem;
    text-align: center;
}

h5, h6{
    font-weight:700;
}

a{
    color:#333;
    text-decoration:none;
}

a:hover{
    color:#25818c;
    text-decoration:underline;
}

header{
    width:100%;
    top:36%;
    position: absolute;
    text-align:center;
    z-index:9;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:1% 1% .75% 1%;
    height:auto;
}

main{
    width:100%;
}

/*
Puedes revisar detalles sobre el siguiente uso de flex
en https://www.taniarascia.com/easiest-flex-grid-ever/
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:rgba(255,255,255,1);
}
#equipo h3{
    display: flex;
    color: #333333c4;
    flex-direction: row;
    flex-wrap: wrap;
    background: #ffcc00;
    padding: 1.5rem;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

#equipo a{
    color:rgba(255,255,255,.7);
}

#equipo a:hover{
    color:rgba(255,255,255,.9);
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
    cursor:crosshair;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    padding: 2rem 2rem 0.25rem 2rem;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.9em;
    font-style:normal;
}

.integrante blockquote{
    padding: 6rem 2rem 2rem 2rem;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 3rem 2rem 2rem 2rem;
        max-width:100%;
    }
}

.integrante blockquote cite {
    display:inherit;
    font-style: normal;
    font-weight: 700;
    font-size:.8rem;
    letter-spacing : 0.1rem;
    padding-top:0.25rem;
    color:rgba(255,255,255,.75);
}

.integrante blockquote cite:before {
    content:"—";
}

.integrante:nth-of-type(1){
    background-color:#66cccc;
    background-image:url('media/integrante-1a.png');
    background-position: bottom left;
    background-size:auto 100%;
    background-repeat: no-repeat;
    text-align:right;
}


.integrante:nth-of-type(2){
    background:#99cccc;
    background-image:url('media/integrante-2a.png');
    background-position: bottom right;
    background-size:auto 100%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(1):hover{
    background-color:#006666;
    background-image:url('media/integrante-1b.png');
    background-position: bottom left;
    background-size:auto 80%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(2):hover{
    background:#006666;
    background-image:url('media/integrante-2b.png');
    background-position: bottom right;
    background-size:auto 80%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3):hover{
    background:#ef6c00;
    background-image:url('media/integrante-3b.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.25% 0;
    background:linear-gradient(to bottom, #fffdfd, #d8d8d8);
}

.item {
    width:23%;
    margin:1%;
    color:#FFFFFF;
    background:#ffcc00;
    box-shadow:0 0 5px rgba(0,0,0,.5);
}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:#fc0;
        color:#FFF;
    }
}
@media screen and (max-width: 576px){
     .item{
         width:45%;
         margin:2%;
         background:#linear-gradient(to bottom, #0d7582, #38a4b1, #4bb1bf);
         color:#FFF;
         font-size: 0.8rem
    }
}
 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: none;
}
 .item:hover figure img{
     transform:scale(2);
     filter: grayscale(0);
     transition:all ease-out 1s;
}
 .item h4{
     font-size:1em;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;
}
 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}
 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.01em;
     font-size:0.9em;
}
